<div class="container">
  <div class="row">
    <div class="row">
      
      <div class="col-8" id="main">

        <div class="col-12" id="content">

          <div id="btns" class="row">
            <button class="btn btn-warning" onClick="window.print();"><i class="bi bi-printer-fill"></i>Print</button>
          </div>

          <!-- certificat -->
          <div class="row"  *ngIf="isCertificat()">
            <div class="col-6">
              <div id="t">Cause</div>
              <div><textarea [disabled]="certRegistred" [(ngModel)]="certificat.cause" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></textarea></div>
            </div>
            <div class="col-6">
              <div id="t">Recommandation</div>
              <div><textarea  [disabled]="certRegistred" [(ngModel)]="certificat.recommandation" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></textarea></div>
            </div>
          </div>

        </div>
        </div>
     </div>
  </div>
</div>




<!--  print template-->
<div class="print">

  <style type="text/css">@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>
  <link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5f7ed99c2c2c7240ba580251"/>
  <link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.27216" />
  <link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.27216" />


  <form class="jotform-form"   id="212314636856559" accept-charset="utf-8" autocomplete="on">

    <div role="main" class="form-all">
      <style>
        .form-all:before { background: none;}
      </style>


      <!-- certficat medical-->
      <ul class="form-section page-section" *ngIf="isCertificat()">

        <li id="cid_1" class="form-input-wide" data-type="control_head">
          <div class="form-header-group  header-large">
            <div class="header-text httar htvam">
              <h1 id="header_1" class="form-header" data-component="header">
                CERTIFICAT MEDICAL
              </h1>
            </div>
          </div>
        </li>

        <li class="form-line" data-type="control_inline" id="id_76">
          <div id="cid_76" class="form-input-wide" data-layout="full">
            <div id="FITB_76" class="FITB formRender">

                <div class="row">
                  <div id="first">
                    <p>Sidi Bel Abbès le <em>{{dateCrt}}</em></p>
                  </div>
                </div>

                <div class="row">
                    <p><strong>Je soussigné ,Dr:</strong> {{username}}</p>
                </div>
                <div class="row">
                  <p><strong>Certifie que l(e/a) Nommé(e)</strong> {{p.nom}}  {{p.prenom}}</p>
                </div>
                <div class="row">
                  <p><strong>Né le</strong> ...{{dateP}} à ...</p>
                </div>
                <div class="row">
                    <p><strong>Est atteint</strong> {{certificat.cause}} ...</p>
                </div>
                <div class="row">
                  <p><strong>Nécessite</strong> {{certificat.recommandation}}...</p>
                </div>

            </div>
          </div>
        </li>

        <li>
          <div class="row">
            <div id="med" class="col-5 offset-3">
              <strong>Nom et Prénom du Medecin: </strong>
              <div id="doctor">{{username}}</div>
            </div>
          </div>
        </li>

      </ul>

    </div>
  </form>
</div>

